.root {
    main-color: rgb(130, 240, 255);       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
    -fx-background-image: url("../images/Sea.png");
    -fx-background-size: stretch;
    -fx-background-opacity: 0.4;
}

.text-field {
    -fx-background-color: #d1f5d1;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #2E8BC0;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#00bfff;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane {
    -fx-background-color: rgba(255,255,255,0.5);
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #00bfff;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

